:root {
  --color-accent: #f55253;
  --color-primary: #2e2e2e;
  --color-alternate: #676767;
  --color-fade: #fdecec;
  --color-section-tag: #f9ba45;

  --container-width: 1235px;
  --container-padding-x: 20px;

  --font-family-base: "Poppins";

  --transition-duration: 0.2s;
}
